{{template "base" .}}
    {{ define "content" }}

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>This is the home page of the Bed & Breakfast</h1>
                    <p>This is some text that customers would read</p>
                    <p>This home data came came from the template: {{index .StringMap "flash"}}</p>
                </div>
            </div>
        </div>
    {{end}}