<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>boxes-app</title>

</head>
    <h1>"boxes" - the best storage app there is...</h1>
    <h2>...and it's free!</h2><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<body>

<div class="container"></div>

    <div id="boxesCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/reallyUsefulFlat.jpg" class="d-block w-100" alt="reallyUsefulBox">
            </div>
            <div class="carousel-item">
                <img src="/static/images/openBox.jpg" class="d-block w-100" alt="openBox">
            </div>
            <div class="carousel-item">
                <img src="/static/images/boxesStack.jpg" class="d-block w-100" alt="StackedBoxes">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#boxesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#boxesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <p></p>
    <p></p>
    <p>
        This page will allow you to create boxes, search for the contents, <strong>delete</strong> boxes and move items around.  It is a private
        instance of the App, which will be <em>enabled for public access once it has been perfected</em>.  There are a number of features
        available in this private instance.
    </p>

    <ol>
        <li>Create a box</li>
        <li>Delete a box</li>
        <li>Add items to a box</li>
        <li>Move items between boxes</li>
        <li>Delete items from a box</li>
        <li>Search for items in a box</li>
        <li>Exit the app</li>
    </ol>

    <p>For the moment, click this link for the source <a href=https://github.com/sabrodigan/bookings>code</a></p>

</body>
</html>